<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bolos.css">
    <title>Bah</title>
</head>
<body>
    <header id="navFlex">
        <a href="/">
            <img src="../src/assets/logo 1.png" alt="logoBolo" id="logo">
        </a>
        <nav id="left">
            <div>
                <ul id="navList">
                    <li class="navItems"><a href="/" class="texts">Home</a></li>
                    <li class="navItems"><a href="/about" class="texts">Sobre</a></li>
                    <li class="navItems"><a href="bolos" class="texts">Bolos</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>