@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
}

#banner {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.titles {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.bolos {
    margin-left: 100px;
}

.catalogo {
    display: flex;
    margin-bottom: 90px;
}

#cenoura {
    width: 320px;
    height: 320px;
    background: url(cenoura.png);
    border-radius: 10px;
    margin-bottom: 60px;
}

.cakeTexts {
    width: 160px;
    height: 25px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-left: 80px;
}

.cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 200px;
    margin-bottom: 200px;
}

.titleCard {
    width: 300px;
    height: 38px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
}

.description {
    width: 234px;
    height: 75px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.btn {
    width: 150px;
    height: 40px;
    background: #AED9E0;
    border-radius: 20px;
    border: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
