<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bolos.css">
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="./main.css">
    <title>Main</title>
</head>
<body>
    <header id="navFlex">
        <a href="/">
            <img src="../../src/assets/logo 1.png" alt="logoBolo" id="logo">
        </a>
        <nav id="left">
            <div>
                <ul id="navList">
                    <li class="navItems"><a href="/" class="texts">Home</a></li>
                    <li class="navItems"><a href="/about" class="texts">Sobre</a></li>
                    <li class="navItems"><a href="bolos" class="texts">Bolos</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <img src="../../src/assets/slide5 1.png" alt="apenasUmBanner" id="banner">
    </main>
    <footer>
        <section class="container">
            <p id="copyright">&copy; Todos os Direitos reservados</p>
        </section>
        <div class="social">
           <!--  <i class="fab fa-whatsapp"></i>
            <i class="fab fa-facebook"></i> -->
            <a href="https://api.whatsapp.com/send?phone=5521998656604&text=Vindo%20do%20site%20bolos%20da%20julia"><img src="../../src/assets/whats 1.png" alt="whatsapp" class="fontAwesome"></a>
            <img src="../../src/assets/face 1.png" alt="fa-facebook" class="fontAwesome">
            <a href="https://instagram.com/tdroid2.0/"><img src="../../src/assets/instag 1.png" alt="instagram" class="fontAwesome"></a>
        </div>
    </footer>
</body>
</html>