<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./footer.css">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="center">
            <p id="copyraite">&copy; Todos os direitos reservados</p>
            <div class="network">
                <img src="../../assets/icons/Whats 66x68 4.png" alt="zap zap" class="icons">
                <img src="../../assets/icons/Inst 66x68 4.png" alt="insta" class="icons">
                <img src="../../assets/icons/Redes Face 66x68 4.png" alt="facebook" class="icons">
                <img src="../../assets/icons/Redes Twiter 66x68.png 3.png" alt="rede da treta" class="icons">
            </div>
        </div>
    </footer>
</body>
</html>