.contentUser {
    display: flex;
    justify-content: center;
    width: 1200px;
}

.genderList {
    width: 100%;
    margin-top: 90px;
    flex-direction: column;
}

.randomGD {
    display: flex;
}

.listFlexGD {
    display: flex;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #4B2142;
    justify-content: space-between;
    margin-bottom: 50px;
}

.name {
    width: 140px;
}

.category {
    width: 194px;
}

.tell {
    width: 95px;
}

.edit {
    width: 125px;
    height: 35px;
    background: #F6511D;
    border: 2px solid #F6511D;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}
.delete {
    width: 125px;
    height: 35px;
    background: #41B8D2;
    border: 2px solid #41B8D2;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-left: 20px;
    cursor: pointer;
}

#end {
    margin-bottom: 100px;
}