/*
====================================// Imports //===============================
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&display=swap');

/*
===============================// header //=====================================
*/

* {
    margin: 0;
    padding: 0;
}

header {
    background: #9BD2DE;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

#logoPng {
    width: 174px;
    height: 61px;
}


#logo {
    width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#HTitle1 {
    width: 102px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #616162;
}

#HTitle2 {
    width: 88px;
    height: 25px;
    font-family: 'Rosarivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #686666;
}

.nav {
    width: 500px;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.navList {
    list-style: none;
}

.navText {
    text-decoration: none;
    width: 49px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4B2142;
    margin-left: 50px;
}

.ConteinerLogo {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan {
    width: 100%;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-top: 20px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.backToHome {
    text-decoration: none;
    width: 100%;
    display: flex;
}

/*
====================================// Main //===============================
*/
.main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#img {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

.contentGD {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.inputsGD {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.inputGD {
    width: 400px;
    height: 58px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #4B2142;
    padding-left: 30px;
}

#saveGD {
    width: 180px;
    height: 58px;
    background: #F6511D;
    border-width: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.labelGD {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}


/*
===============================// footer //=====================================
*/

.rodape { 
    background-color: #F6511D;
    height: 200px;
    font-family: 'Inter';
    margin-top: 77px;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    justify-content: center;
    width: 100%;
}

.SoloRoboto {
    font-family: 'Roboto';
    font-weight: 400;
}

.pFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
    font-family: 'Roboto';
}

.fundo {
    width: 177px;
    height: 62px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 64px;
}

.linha {
    border: 1px solid #FFFFFF;
    height: 170px;
    margin-top: 20px;
}