/* https://highframe.tech */

* {
    margin: 0;
    padding: 0;
}

.main {
    max-width: 100%;
    background-color: #F2890D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 616px;
}

.card {
    max-width: 95%;
    height: 500px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: white;
    border: white 1px solid;
    border-radius: 20px;
    margin-top: 90px;
}

#userImage {
    max-width: 200px;
    width: 200px;
    height: 200px;
}

.title {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SC {
    width: 495px;
    height: 402px;
}

input, select {
    border: 3px solid #B0A3A3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

#start {
    background: #1180E6;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

#line {
    width: 3px;
    height: 300px;
    background-color: #000000;
    margin-top: 60px;
}

#Text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 29px;
    line-height: 29px;
    text-align: center;
    margin-top: 60px;
}

#play {
    background: #F2890D;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
}

.gameInp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Info {
    margin-top: 10px;
}

.titulo {
    background-color: #1180E7;
    width: 240px;
    height: 95px;
    position: absolute;
    top: -50px;
    border-radius: 20px;
}

#theGame {
    font-family: 'Squada One';
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 74px;
}

.labels {
    width: 100%;
}

#autoCorrect {
    text-align: center;
}

@media (max-width: 746px) {
    .main {
        height: 1000px;
    }
    .card {
        flex-direction: column;
        height: 900px;
    }
    #line {
        display: none;
    }
    .titulo{
        width: 160px;
        height: 100px;
        position: absolute;
        left: 10%;
        top: -50px;
    }
    .Text {
        font-size: 30px;
    }
}



@media (max-width: 526px) {
    .SC {
        max-width: 495px;
        width: auto;
    }
}

@media (max-width: 428px) {

    .main {
        max-width: 428px;
        height: 1421px;
    }
    .Text {
        font-size: 20px;
    }
}

@media (max-width: 409px) {
    .titulo{
        width: 160px;
        height: 100px;
        position: absolute;
        left: 25%;
        top: -50px;
    }
}