* {
    margin: 0;
    padding: 0;
}
/* =========== Header ===========  */

header {
    width: 100%;
    height: 80px;
    padding-top: 15px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
}

.navBar {
    display: flex;
    width: 100%;
    height: 80px;
}

.logoH {
    margin-left: 40px;
}

.navItens {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
}
ul li {
    display: flex;
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}
ul {
    display: flex;
    margin-right: 40px;
    margin-bottom: 30px;
}

/* =========== Main ===========  */

.main {
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
}



.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 400;
    color: #660027;
}

.content {
    color: #6C6969;
    font-family: 'Roboto';
}

.conteiner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cards {
    height: 470px;
    font-size: 14px;
    font-family: 'Roboto';
    color: #6C6969;
    display: flex;
    width: 250px;
}

.cardsR {
    border: 1px solid #6C6969;

}

.titleCard {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #660027;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}
.btnCards {
    width: 128px;
    height: 42px;
    color: #660027;
    border-radius: 4px;
    border: 1px solid #660027;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: width, height 300ms;
}

.btnCards:hover {
    background-color: #660027;
    color:#FFFFFF;
    box-shadow: #d40253;
    text-shadow: #d40253;
    width: 140px;
    height: 45px;
}

.description {
    margin-left: 5%;
}

.PositionCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

/* =========== Footer ===========  */
footer {
    background-color: #660027;
    color: #FFFFFF;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* =========== Media query  ===========  */


/* =========== Desktop  ===========  */
#BannerMain {
    max-width: 100%;
    margin-top: 30px;
}

@media (max-width: 1022px) {
    .main {
        margin-right: 2%;
        margin-left: 2%;
    }

    .conteiner {
        margin-left: 0;
        flex-wrap: wrap;
    }

}

/* =========== ¨Tablet  ===========  */

@media (max-width: 683px) {
    .main {
        max-width: 683px;
    }
    .PositionCenter {
        margin-bottom: 10px
    }
    .conteiner {
        max-width: 600px;
        flex-wrap: wrap;
    }
    .cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    footer {
        z-index: 1000;
    }
}

@media (max-width: 552px) {
    header {
        height: 150px;
    }
    .conteiner {
        max-width: 599px;
        justify-content: center;
    }
    .cards {
        margin-bottom: 10px;
    }
    nav {
        flex-direction: column;
    }
    .navItens ul {
        flex-direction: column;
    }
    .navItens ul li {
        margin-top: 10px;
        margin-left: 10px;
    }
    .navItens {
        justify-content: center;
    }
}