
header {
    background-color: #F0F3F3;
}

#main {
    width: 100%;
}

.cards {
    display: flex;
    width: 1140px;
    margin: auto;
}

input, select {
    width: 420px;
    height: 38px;
}

.CardsW {
    width: 538px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#login {
display: flex;
align-items: center;
flex-direction: column;
}


.btn {
    background-color: #8458FF;
    width: 109px;
    height: 39px;
    border-radius: 5px;
    margin-top: 15px;
}

.btnC {
    background-color: #8458FF;
    width: 109px;
    height: 39px;
    border-radius: 5px;
    margin-top: 15px;
}

footer {
    background-color: #F6511D;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 200px;
    height: 200px;
    border-right: #8458FF 5px solid;
}