* {
    margin: 0;
    padding: 0;
}

/* =========== Header ===========  */

header {
    width: 100%;
    height: 80px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
}

.navBar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: aqua;
}

.logoH {
    margin-left: 40px;
}

.navItens {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
}

ul li {
    display: flex;
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}
ul {
    display: flex;
    margin-right: 40px;
    margin-bottom: 30px;
}



/* =========== Main ===========  */

.main {
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
}

.cube {
    background-color: rgb(126, 123, 123);
    width: 100%;
    height: 500px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
}

#Title {
    font-size: 3.5rem;
    text-align: center;
    color: aquamarine;
    margin-bottom: 30px;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 30px;
    background-color: #212125;
    border: #313135 2px solid;
    margin-top: 5px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.btnSub {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: #212125 2px solid;
    background-color: #212125;
}

.btnSub:hover {
    border: #41eb17 2px solid;
    background-color: #41eb17;
    transition: border, background-color 300ms;
    cursor: pointer;
}